body{
    background-image: url("./images/css\ background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    margin-left: 5%;
    margin-right: 5%;
}
#sec1{
    width: 95%;
    max-width: 95%;
    min-height: 41vhS;
    max-height: 1000vh;
    background-image: url("./images/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
}
#sec1 figure{
    float: right;
}
#sec1 figure figcaption{
    font-size: x-large;
    font-weight: bold;
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 30px;
    text-shadow: 2px 2px white;
}
#sec1 img{
    width: 200px;
    max-width: 500px;
    height: 200px;
    max-height: 500px;
    border: 5px solid black;
    border-radius: 120px;
}
#sec1 p{
    text-align: justify;
    text-wrap: wrap;
}
#sec1 li{
    text-align: left;
}
.two{
    width: 95%;
    max-width: 95%;
    height: 50vh;
    overflow: scroll;
    overflow-y: scroll;
    background-image: url("./images/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
}
.two p{
    text-align: justify;
}
.two h1{
    color: white  ;
    background-color: blue;
    display: inline;
    line-height: 40px;
    border: 5px white solid;
    border-radius: 10px;
    text-align: center;
}
.two li{
    text-align: left;
}

#one{
    width: 95%;
    max-width: 95%;
    min-height: 41vh;
    max-height: 1000vh;
    background-image: url("./images/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
}
#one img{
    border: 2px solid black;
    height: 40vh;
    width: 40vh;
    border-radius: 5px;
}   
#one p{
    font-weight: bold;
    text-wrap: wrap;
    color: blueviolet;
}
.sec2 h2{
    min-height: 50px;
    align-items: center;
    justify-content: center;
    display: inline;
    width: 45%;
    border: 5px solid white;
    border-radius: 10px;
}
#sec3{
    width: 95%;
    max-width: 95%;
    min-height: 41vh;
    max-height: 1000vh;
    background-image: url("./images/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
}
#sec3 img{
    width: 40vh;
    height: 40vh;
    border: 2px solid white;
    border-radius: 20px;
}
#sec3 p{
    display: inline;
    text-align: justify;
}

h1{
    color: white  ;
    background-color: blue;
    line-height: 40px;
    display: inline;
    border: 5px white solid;
    border-radius: 10px;
    text-align: center;
}
#sec4 h1{
    color: white  ;
    background-color: blue;
    line-height: 40px;
    display: inline;
    border: 5px white solid;
    border-radius: 10px;
    text-align: center;
}
#sec4 form{
    border: 2px solid black;
    width: 50vh;
    max-width: 100vw;
}